#LoginContainer{
    margin-top:500px;
    width: 30%;
}

#ParentContainer{
    display: flex;
    justify-content: center;
   padding-top: 100px;
}
input{
    width: 30%;
}
#Link1,#Link2{
    text-decoration:none;
    list-style: none;
}